//----------------------------------------------------//
// VAVIABLES                                          //
//----------------------------------------------------//
// Fonts
//----------------------------------------------------//
$font: Arial, Helvetica, sans-serif;

// Font Size
//----------------------------------------------------//
$fs-25: 25px;
$fs-150: 150px;
$fs-14: 14px;
$fs-45: 45px;
$fs-15: 15px;
$fs-18: 18px;
$fs-20: 20px;
$fs-158: 158px;
$fs-60: 60px;

// Color
//----------------------------------------------------//
$color: #000;
$color-l-grey: #8f8f8f;
$color-d-grey: #202123;
$color-m-grey: #323237;
$color-blue: #61e9c2;
$color-white: #fff;
$color-d-white: #888888;
$color-m-white: #666666;
$color-l-black: #0a0a0a;
$color-m-black: #181818;
$color-black: #232323;
$price: #999999;

// Backgrounds
//----------------------------------------------------//

$bg-grey: #e9e9e9;
$bg-l-grey: #eeeded;
$bg-blue: #61e9c2;

// Borders
//----------------------------------------------------//

$border: 0;












